---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  readability-braces-around-statements,
  readability-container-size-empty,
  readability-duplicate-include,
  readability-inconsistent-declaration-parameter-name,
  readability-misleading-indentation,
  readability-redundant-control-flow,
  readability-redundant-declaration,
  readability-redundant-preprocessor,
  readability-simplify-boolean-expr

WarningsAsErrors: ''

HeaderFilterRegex: '(^|.*/)sw/.*'

SystemHeaders: false

FormatStyle: file